<%= simple_form_for Todo.new, remote: true do |f| %>
   <%= f.input :title %>
   <%= f.submit "Ajouter", class: "btn btn-primary" %>
<% end %>

<ul>
  <% @todos.each do |todo| %>
    <li class="list-item">
      <%= todo.title %>
      <%= link_to 'delete', todo_path(todo), method: :delete, data: { confirm: "Are you sure?" }, remote: true %>

      <%= link_to mark_as_done_todo_path(todo), method: :post, style: todo.done ? 'color: green' : 'color: grey', remote: true do %>
        <i class="far fa-check-circle"></i>
      <% end %>

      <%= link_to mark_as_not_done_todo_path(todo), method: :post, style: !todo.done ? 'color: red' : 'color: grey', remote: true do %>
        <i class="far fa-times-circle"></i>
      <% end %>

      <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= todo.id %>" aria-expanded="false" aria-controls="collapse<%= todo.id %>">
        Comments
      </button>

      <div class="collapse" id="collapse<%= todo.id %>">
        <div class="card card-body">

          <% if todo.comments.empty? %>
            <p>add a comment</p>
          <% else %>
            <ul>
              <% todo.comments.each do |comment| %>
                <li id="comment-<%= comment.id %>">
                  <%= comment.content %>
                  <%= link_to 'delete', comment_path(comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <%= simple_form_for [ todo, Comment.new ], remote: true do |f| %>
            <%= f.input :content %>
            <%= f.submit "Submit comment", class: "btn btn-primary" %>
          <% end %>

        </div>
      </div>

    </li>
  <% end %>
</ul>

