<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTodoForm" aria-expanded="false" aria-controls="collapseTodoForm">
    Add a todo
</button>

<div class="collapse" id="collapseTodoForm">
  <div class="card card-body">
    <%= simple_form_for Todo.new, remote: true do |f| %>
       <%= f.input :title %>
       <%= f.input :deadline, as: :string, required: true, input_html: {class: "datepicker"} %>
       <%= f.submit "Ajouter", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<ul id='list' data-controller='drag'>
  <% @todos.each do |todo| %>
    <li class="list-item" data-id="<%= todo.id %>" id="todo-<%= todo.id %>">

      <div class="d-flex">
        <div class="position-circle flexbox-center">
          <div class='position'><%= todo.position %></div>
        </div>
        <h5 class="todo-title <%= 'todo-title-checked' if todo.done %>" id="todo-title-<%= todo.id %>"><%= todo.title.capitalize %></h5>

        <div class="d-flex checkbox-container">
          <div class="checkbox flexbox-center <%= 'checked' if todo.done %>" data-todo-id='<%= todo.id %>' data-controller='check'>
            <i class="fas fa-check <%= 'fa-check-checked' if todo.done %> fa-check-<%= todo.id %>"></i>
          </div>
        </div>

        <%= link_to todo_path(todo), method: :delete, data: { confirm: "Are you sure?" }, class: 'delete-todo',remote: true do %>
          <i class="far fa-minus-square"></i>
        <% end %>
      </div>

      <div class="d-flex">
        <p class="my-auto">Deadline</p>
        <div class="date-container">
          <input class="changeDate" data-id='<%= todo.id %>' value="<%= todo.deadline %>"/>
          <div class="underline"></div>
        </div>
      </div>


      <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= todo.id %>" aria-expanded="false" aria-controls="collapse<%= todo.id %>">
        Comments
      </button>

      <div class="collapse" id="collapse<%= todo.id %>">
        <div class="card card-body">

          <% if todo.comments.empty? %>
            <p>add a comment</p>
          <% else %>
            <ul id='todo-<%= todo.id %>-comments'>
              <% todo.comments.each do |comment| %>
                <li id='comment-<%= comment.id %>'>
                  <%= comment.content %>
                  <%= link_to 'delete', comment_path(comment), method: :delete, remote: true %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <%= simple_form_for [ todo, Comment.new ], remote: true, html: {id: "new_comment-#{todo.id}"} do |f| %>
            <%= f.input :content, input_html: {id: "comment_content-#{todo.id}"} %>
            <%= f.submit "Submit comment", class: "btn btn-primary" %>
          <% end %>

        </div>
      </div>

    </li>
  <% end %>
</ul>

